@charset "UTF-8";
@font-face {
   font-family: Gilroy;
   src: url(/Crafty-Metaverse/assets/Gilroy-Medium--rHSgpwu.woff2)
      format('woff2');
   font-weight: 500;
   font-style: normal;
   font-display: swap;
}
@font-face {
   font-family: Gilroy;
   src: url(/Crafty-Metaverse/assets/Gilroy-Regular-e6LZtZtL.woff2)
      format('woff2');
   font-weight: 400;
   font-style: normal;
   font-display: swap;
}
@font-face {
   font-family: HeliosExtC;
   src: url(/Crafty-Metaverse/assets/helioecb-B9OpXSVE.woff2) format('woff2');
   font-weight: 700;
   font-style: normal;
   font-display: swap;
}
@font-face {
   font-family: PlusJakartaSans;
   src: url(/Crafty-Metaverse/assets/PlusJakartaSans-Bold-ne0s7Dnu.woff2)
      format('woff2');
   font-weight: 700;
   font-style: normal;
   font-display: swap;
}
@font-face {
   font-family: PlusJakartaSans;
   src: url(/Crafty-Metaverse/assets/PlusJakartaSans-Light-hGSmRJKO.woff2)
      format('woff2');
   font-weight: 300;
   font-style: normal;
   font-display: swap;
}
@font-face {
   font-family: PlusJakartaSans;
   src: url(/Crafty-Metaverse/assets/PlusJakartaSans-Medium-zqfOHvSK.woff2)
      format('woff2');
   font-weight: 500;
   font-style: normal;
   font-display: swap;
}
@font-face {
   font-family: PlusJakartaSans;
   src: url(/Crafty-Metaverse/assets/PlusJakartaSans-Regular-1s0SMdEp.woff2)
      format('woff2');
   font-weight: 400;
   font-style: normal;
   font-display: swap;
}
* {
   padding: 0;
   margin: 0;
   border: 0;
   box-sizing: border-box;
   color: #ffffffe6;
}
*:before,
*:after {
   box-sizing: border-box;
}
:focus,
:active,
a:focus,
a:active {
   outline: none;
}
nav,
footer,
header,
aside {
   display: block;
}
html {
   scroll-behavior: smooth;
}
html.lock {
   overflow: hidden;
   touch-action: none;
}
html,
body {
   width: 100%;
   height: 100%;
   font-size: 16px;
   font-family: PlusJakartaSans, sans-serif;
   font-weight: 400;
   line-height: 1;
}
input,
button,
textarea {
   font-family: inherit;
}
input::-ms-clear {
   display: none;
}
button,
a {
   -webkit-user-select: none;
   user-select: none;
}
button {
   cursor: pointer;
}
button::-moz-focus-inner {
   padding: 0;
   border: 0;
}
a,
a:visited,
a:hover {
   text-decoration: none;
}
ul,
li {
   list-style: none;
}
img {
   vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
   font-size: inherit;
   font-weight: 400;
}
sup {
   color: inherit;
}
body {
   background: #090812;
   line-height: 1;
   -ms-text-size-adjust: 100%;
   -webkit-tap-highlight-color: transparent;
   line-height: 1.4;
   position: relative;
   color: #ffffffe6;
}
main {
   flex: 1 1 auto;
   width: 100%;
   height: 100%;
}
#app {
   min-height: 100%;
   display: flex;
   flex-direction: column;
   overflow: clip;
}
[class*='__container'] {
   max-width: 1680px;
   margin: 0 auto;
   padding: 0 1.3571rem;
}
[class*='-ibg'] {
   position: relative;
}
[class*='-ibg'] img {
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   object-fit: cover;
}
[class*='-ibg_contain'] img {
   object-fit: contain;
}
.header[data-v-5a4de7eb] {
   position: fixed;
   width: 100%;
   height: 122px;
   background: #090812cc;
   z-index: 1;
}
@media (max-width: 649px) {
   .header[data-v-5a4de7eb] {
      height: 110px;
   }
}
.header__container[data-v-5a4de7eb] {
   position: relative;
   height: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.header__logo-box[data-v-5a4de7eb] {
   margin: 0 20px 0 0;
   z-index: 1;
}
@media (max-width: 649px) {
   .header__logo-box[data-v-5a4de7eb] {
      width: 22px;
      height: 22px;
   }
}
@media (max-width: 767px) {
   .header__nav[data-v-5a4de7eb] {
      position: absolute;
      top: 0;
      left: -100vw;
      transition: left 0.5s ease-in-out;
   }
}
@media (max-width: 767px) {
   .header__nav_show[data-v-5a4de7eb] {
      left: 0;
   }
}
.header__burger-menu[data-v-5a4de7eb] {
   display: none;
}
@media (max-width: 767px) {
   .header__burger-menu[data-v-5a4de7eb] {
      display: block;
      position: relative;
      width: 32px;
      height: 16px;
      cursor: pointer;
      z-index: 4;
   }
   .header__burger-menu span[data-v-5a4de7eb] {
      position: absolute;
      background-color: #fff;
      width: 19px;
      height: 2px;
      right: 0;
      top: 7px;
      transition: transform 0.3s ease 0.3s;
   }
   .header__burger-menu[data-v-5a4de7eb]:before,
   .header__burger-menu[data-v-5a4de7eb]:after {
      content: '';
      background-color: #fff;
      position: absolute;
      height: 2px;
      right: 0;
      transition: transform 0.3s ease 0.3s, top 0.3s ease 0.3s,
         bottom 0.3s ease 0.3s, width 0.3s ease 0.3s;
   }
   .header__burger-menu[data-v-5a4de7eb]:before {
      top: 0;
      width: 100%;
   }
   .header__burger-menu[data-v-5a4de7eb]:after {
      bottom: 0;
      width: 25px;
   }
   .header__burger-menu_active span[data-v-5a4de7eb] {
      transform: scale(0);
   }
   .header__burger-menu_active[data-v-5a4de7eb]:before {
      transform: rotate(45deg);
      top: 7px;
   }
   .header__burger-menu_active[data-v-5a4de7eb]:after {
      transform: rotate(-45deg);
      bottom: 7px;
      width: 100%;
   }
}
@media (max-width: 767px) {
   .nav[data-v-5a4de7eb] {
      width: 100vw;
      height: 100vh;
      overflow: hidden;
      background: #090812;
   }
}
.nav__list[data-v-5a4de7eb] {
   display: flex;
}
@media (max-width: 767px) {
   .nav__list[data-v-5a4de7eb] {
      position: relative;
      width: 100%;
      height: 100%;
      padding: 140px 20px 20px;
      margin: 0 0 40px;
      flex-direction: column;
      overflow-y: auto;
      z-index: 1;
   }
}
.nav__list-item[data-v-5a4de7eb] {
   width: max-content;
   position: relative;
   opacity: 0.7;
}
.nav__list-item[data-v-5a4de7eb]:not(:last-child) {
   margin: 0px clamp(20px, 2.5vw, 45px) 0px 0px;
}
@media (max-width: 767px) {
   .nav__list-item[data-v-5a4de7eb]:not(:last-child) {
      margin: 0 0 40px;
   }
}
.nav__list-item[data-v-5a4de7eb]:after {
   position: absolute;
   content: '';
   width: 100%;
   height: 2px;
   background-color: #00dbde;
   left: 0;
   bottom: -8px;
   transform: scaleX(0);
   transition: transform 0.3s;
   transform-origin: left;
}
.nav__list-item[data-v-5a4de7eb]:hover {
   opacity: 1;
}
.nav__list-item[data-v-5a4de7eb]:hover:after {
   transform: scaleX(1);
   transition: transform 0.25s;
}
.nav__list-link[data-v-5a4de7eb] {
   font-size: clamp(16px, 2.3vw, 20px);
   font-weight: 500;
   line-height: 28px;
   letter-spacing: 0.6px;
   color: #fff;
}
@media (max-width: 767px) {
   .nav__list-link[data-v-5a4de7eb] {
      font-size: 20px;
   }
}
.nav__bg[data-v-5a4de7eb] {
   display: none;
}
@media (max-width: 767px) {
   .nav__bg[data-v-5a4de7eb] {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      flex-direction: column;
   }
}
.nav__bg-img[data-v-5a4de7eb] {
   width: 100%;
   height: 100%;
   object-fit: cover;
}
.button-wrapper[data-v-5672dcfc] {
   padding: 1px;
   border-radius: 6px;
   background: linear-gradient(109.56deg, #ffffff8f 3.9%, #fff0 63.11%);
}
.button[data-v-5672dcfc] {
   width: 100%;
   height: 100%;
   border-radius: 6px;
   background: linear-gradient(98.73deg, #7a42f4, #4642f4);
   font-family: HeliosExtC;
   font-size: 18px;
   font-weight: 900;
   line-height: 144%;
   letter-spacing: 0em;
}
@media (max-width: 649px) {
   .button[data-v-5672dcfc] {
      font-size: 16px;
   }
}
.main-section[data-v-eeb67065] {
   position: relative;
   width: 100%;
   height: 1015px;
}
@media (max-width: 575px) {
   .main-section[data-v-eeb67065] {
      height: 787px;
   }
}
.main-section__bg-block[data-v-eeb67065] {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: -1;
}
.main-section__bg-img[data-v-eeb67065] {
   width: 100%;
   height: 100%;
   z-index: -1;
   object-fit: cover;
   object-position: 22% 0%;
}
.main-section__blures-block[data-v-eeb67065] {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
}
.main-section__blures[data-v-eeb67065] {
   position: absolute;
}
.main-section__blures_positon_left-top[data-v-eeb67065] {
   width: 859.18px;
   height: 372.67px;
   top: -105px;
   left: -32.08px;
   opacity: 0.5px;
   transform: rotate(-34.59deg);
}
.main-section__blures_positon_sm-left-top[data-v-eeb67065] {
   width: 147px;
   height: 147px;
   top: 93px;
   left: 46px;
}
.main-section__container[data-v-eeb67065] {
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
}
.main-section__liner-img-box[data-v-eeb67065] {
   height: 476px;
   position: relative;
}
@media (max-width: 649px) {
   .main-section__liner-img-box[data-v-eeb67065] {
      min-height: 341px;
      height: auto;
   }
}
.main-section__liner-img[data-v-eeb67065] {
   width: 100%;
   height: 100%;
   margin: 0 0 0 -58px;
}
.main-section__content[data-v-eeb67065] {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   padding: 23px 62px 17px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}
.main-section__content[data-v-eeb67065]:before {
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   width: 6px;
   height: 100%;
   background: #7f5cff;
   border-radius: 3px;
}
@media (max-width: 649px) {
   .main-section__content[data-v-eeb67065] {
      padding: 14px 0 0 19px;
      justify-content: flex-start;
   }
}
.main-section__button[data-v-eeb67065] {
   width: 209px;
   height: 60px;
}
@media (max-width: 649px) {
   .main-section__button[data-v-eeb67065] {
      width: 188px;
      height: 54px;
      margin: 12px 0 0;
   }
}
.main-section__subtitle[data-v-eeb67065] {
   margin: 0 0 12px;
   font-size: 20px;
   line-height: 127%;
   text-transform: uppercase;
}
@media (max-width: 649px) {
   .main-section__subtitle[data-v-eeb67065] {
      font-size: 16px;
      line-height: 137.5%;
   }
}
.main-section__title[data-v-eeb67065] {
   max-width: 753px;
   font-family: HeliosExtC;
   font-size: clamp(26px, 5.2vw, 48px);
   font-weight: 700;
   line-height: 140%;
   letter-spacing: 0.01em;
   text-align: left;
}
.main-section__title-star svg[data-v-eeb67065] {
   width: clamp(20px, 5.2vw, 46px);
   height: clamp(20px, 5.2vw, 46px);
}
@font-face {
   font-family: swiper-icons;
   src: url(data:application/font-woff;charset=utf-8;base64,\ d09GRgABAAAAAAZgABAAAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAAGRAAAABoAAAAci6qHkUdERUYAAAWgAAAAIwAAACQAYABXR1BPUwAABhQAAAAuAAAANuAY7+xHU1VCAAAFxAAAAFAAAABm2fPczU9TLzIAAAHcAAAASgAAAGBP9V5RY21hcAAAAkQAAACIAAABYt6F0cBjdnQgAAACzAAAAAQAAAAEABEBRGdhc3AAAAWYAAAACAAAAAj//wADZ2x5ZgAAAywAAADMAAAD2MHtryVoZWFkAAABbAAAADAAAAA2E2+eoWhoZWEAAAGcAAAAHwAAACQC9gDzaG10eAAAAigAAAAZAAAArgJkABFsb2NhAAAC0AAAAFoAAABaFQAUGG1heHAAAAG8AAAAHwAAACAAcABAbmFtZQAAA/gAAAE5AAACXvFdBwlwb3N0AAAFNAAAAGIAAACE5s74hXjaY2BkYGAAYpf5Hu/j+W2+MnAzMYDAzaX6QjD6/4//Bxj5GA8AuRwMYGkAPywL13jaY2BkYGA88P8Agx4j+/8fQDYfA1AEBWgDAIB2BOoAeNpjYGRgYNBh4GdgYgABEMnIABJzYNADCQAACWgAsQB42mNgYfzCOIGBlYGB0YcxjYGBwR1Kf2WQZGhhYGBiYGVmgAFGBiQQkOaawtDAoMBQxXjg/wEGPcYDDA4wNUA2CCgwsAAAO4EL6gAAeNpj2M0gyAACqxgGNWBkZ2D4/wMA+xkDdgAAAHjaY2BgYGaAYBkGRgYQiAHyGMF8FgYHIM3DwMHABGQrMOgyWDLEM1T9/w8UBfEMgLzE////P/5//f/V/xv+r4eaAAeMbAxwIUYmIMHEgKYAYjUcsDAwsLKxc3BycfPw8jEQA/gZBASFhEVExcQlJKWkZWTl5BUUlZRVVNXUNTQZBgMAAMR+E+gAEQFEAAAAKgAqACoANAA+AEgAUgBcAGYAcAB6AIQAjgCYAKIArAC2AMAAygDUAN4A6ADyAPwBBgEQARoBJAEuATgBQgFMAVYBYAFqAXQBfgGIAZIBnAGmAbIBzgHsAAB42u2NMQ6CUAyGW568x9AneYYgm4MJbhKFaExIOAVX8ApewSt4Bic4AfeAid3VOBixDxfPYEza5O+Xfi04YADggiUIULCuEJK8VhO4bSvpdnktHI5QCYtdi2sl8ZnXaHlqUrNKzdKcT8cjlq+rwZSvIVczNiezsfnP/uznmfPFBNODM2K7MTQ45YEAZqGP81AmGGcF3iPqOop0r1SPTaTbVkfUe4HXj97wYE+yNwWYxwWu4v1ugWHgo3S1XdZEVqWM7ET0cfnLGxWfkgR42o2PvWrDMBSFj/IHLaF0zKjRgdiVMwScNRAoWUoH78Y2icB/yIY09An6AH2Bdu/UB+yxopYshQiEvnvu0dURgDt8QeC8PDw7Fpji3fEA4z/PEJ6YOB5hKh4dj3EvXhxPqH/SKUY3rJ7srZ4FZnh1PMAtPhwP6fl2PMJMPDgeQ4rY8YT6Gzao0eAEA409DuggmTnFnOcSCiEiLMgxCiTI6Cq5DZUd3Qmp10vO0LaLTd2cjN4fOumlc7lUYbSQcZFkutRG7g6JKZKy0RmdLY680CDnEJ+UMkpFFe1RN7nxdVpXrC4aTtnaurOnYercZg2YVmLN/d/gczfEimrE/fs/bOuq29Zmn8tloORaXgZgGa78yO9/cnXm2BpaGvq25Dv9S4E9+5SIc9PqupJKhYFSSl47+Qcr1mYNAAAAeNptw0cKwkAAAMDZJA8Q7OUJvkLsPfZ6zFVERPy8qHh2YER+3i/BP83vIBLLySsoKimrqKqpa2hp6+jq6RsYGhmbmJqZSy0sraxtbO3sHRydnEMU4uR6yx7JJXveP7WrDycAAAAAAAH//wACeNpjYGRgYOABYhkgZgJCZgZNBkYGLQZtIJsFLMYAAAw3ALgAeNolizEKgDAQBCchRbC2sFER0YD6qVQiBCv/H9ezGI6Z5XBAw8CBK/m5iQQVauVbXLnOrMZv2oLdKFa8Pjuru2hJzGabmOSLzNMzvutpB3N42mNgZGBg4GKQYzBhYMxJLMlj4GBgAYow/P/PAJJhLM6sSoWKfWCAAwDAjgbRAAB42mNgYGBkAIIbCZo5IPrmUn0hGA0AO8EFTQAA);
   font-weight: 400;
   font-style: normal;
}
:root {
   --swiper-theme-color: #007aff;
}
:host {
   position: relative;
   display: block;
   margin-left: auto;
   margin-right: auto;
   z-index: 1;
}
.swiper {
   margin-left: auto;
   margin-right: auto;
   position: relative;
   overflow: hidden;
   list-style: none;
   padding: 0;
   z-index: 1;
   display: block;
}
.swiper-vertical > .swiper-wrapper {
   flex-direction: column;
}
.swiper-wrapper {
   position: relative;
   width: 100%;
   height: 100%;
   z-index: 1;
   display: flex;
   transition-property: transform;
   transition-timing-function: var(
      --swiper-wrapper-transition-timing-function,
      initial
   );
   box-sizing: content-box;
}
.swiper-android .swiper-slide,
.swiper-ios .swiper-slide,
.swiper-wrapper {
   transform: translateZ(0);
}
.swiper-horizontal {
   touch-action: pan-y;
}
.swiper-vertical {
   touch-action: pan-x;
}
.swiper-slide {
   flex-shrink: 0;
   width: 100%;
   height: 100%;
   position: relative;
   transition-property: transform;
   display: block;
}
.swiper-slide-invisible-blank {
   visibility: hidden;
}
.swiper-autoheight,
.swiper-autoheight .swiper-slide {
   height: auto;
}
.swiper-autoheight .swiper-wrapper {
   align-items: flex-start;
   transition-property: transform, height;
}
.swiper-backface-hidden .swiper-slide {
   transform: translateZ(0);
   -webkit-backface-visibility: hidden;
   backface-visibility: hidden;
}
.swiper-3d.swiper-css-mode .swiper-wrapper {
   perspective: 1200px;
}
.swiper-3d .swiper-wrapper {
   transform-style: preserve-3d;
}
.swiper-3d {
   perspective: 1200px;
}
.swiper-3d .swiper-slide,
.swiper-3d .swiper-cube-shadow {
   transform-style: preserve-3d;
}
.swiper-css-mode > .swiper-wrapper {
   overflow: auto;
   scrollbar-width: none;
   -ms-overflow-style: none;
}
.swiper-css-mode > .swiper-wrapper::-webkit-scrollbar {
   display: none;
}
.swiper-css-mode > .swiper-wrapper > .swiper-slide {
   scroll-snap-align: start start;
}
.swiper-css-mode.swiper-horizontal > .swiper-wrapper {
   scroll-snap-type: x mandatory;
}
.swiper-css-mode.swiper-vertical > .swiper-wrapper {
   scroll-snap-type: y mandatory;
}
.swiper-css-mode.swiper-free-mode > .swiper-wrapper {
   scroll-snap-type: none;
}
.swiper-css-mode.swiper-free-mode > .swiper-wrapper > .swiper-slide {
   scroll-snap-align: none;
}
.swiper-css-mode.swiper-centered > .swiper-wrapper:before {
   content: '';
   flex-shrink: 0;
   order: 9999;
}
.swiper-css-mode.swiper-centered > .swiper-wrapper > .swiper-slide {
   scroll-snap-align: center center;
   scroll-snap-stop: always;
}
.swiper-css-mode.swiper-centered.swiper-horizontal
   > .swiper-wrapper
   > .swiper-slide:first-child {
   margin-inline-start: var(--swiper-centered-offset-before);
}
.swiper-css-mode.swiper-centered.swiper-horizontal > .swiper-wrapper:before {
   height: 100%;
   min-height: 1px;
   width: var(--swiper-centered-offset-after);
}
.swiper-css-mode.swiper-centered.swiper-vertical
   > .swiper-wrapper
   > .swiper-slide:first-child {
   margin-block-start: var(--swiper-centered-offset-before);
}
.swiper-css-mode.swiper-centered.swiper-vertical > .swiper-wrapper:before {
   width: 100%;
   min-width: 1px;
   height: var(--swiper-centered-offset-after);
}
.swiper-3d .swiper-slide-shadow,
.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right,
.swiper-3d .swiper-slide-shadow-top,
.swiper-3d .swiper-slide-shadow-bottom {
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   pointer-events: none;
   z-index: 10;
}
.swiper-3d .swiper-slide-shadow {
   background: #00000026;
}
.swiper-3d .swiper-slide-shadow-left {
   background-image: linear-gradient(to left, #00000080, #0000);
}
.swiper-3d .swiper-slide-shadow-right {
   background-image: linear-gradient(to right, #00000080, #0000);
}
.swiper-3d .swiper-slide-shadow-top {
   background-image: linear-gradient(to top, #00000080, #0000);
}
.swiper-3d .swiper-slide-shadow-bottom {
   background-image: linear-gradient(to bottom, #00000080, #0000);
}
.swiper-lazy-preloader {
   width: 42px;
   height: 42px;
   position: absolute;
   left: 50%;
   top: 50%;
   margin-left: -21px;
   margin-top: -21px;
   z-index: 10;
   transform-origin: 50%;
   box-sizing: border-box;
   border: 4px solid var(--swiper-preloader-color, var(--swiper-theme-color));
   border-radius: 50%;
   border-top-color: transparent;
}
.swiper:not(.swiper-watch-progress) .swiper-lazy-preloader,
.swiper-watch-progress .swiper-slide-visible .swiper-lazy-preloader {
   animation: swiper-preloader-spin 1s infinite linear;
}
.swiper-lazy-preloader-white {
   --swiper-preloader-color: #fff;
}
.swiper-lazy-preloader-black {
   --swiper-preloader-color: #000;
}
@keyframes swiper-preloader-spin {
   0% {
      transform: rotate(0);
   }
   to {
      transform: rotate(360deg);
   }
}
.swiper-scrollbar {
   border-radius: var(--swiper-scrollbar-border-radius, 10px);
   position: relative;
   touch-action: none;
   background: var(--swiper-scrollbar-bg-color, rgba(0, 0, 0, 0.1));
}
.swiper-scrollbar-disabled > .swiper-scrollbar,
.swiper-scrollbar.swiper-scrollbar-disabled {
   display: none !important;
}
.swiper-horizontal > .swiper-scrollbar,
.swiper-scrollbar.swiper-scrollbar-horizontal {
   position: absolute;
   left: var(--swiper-scrollbar-sides-offset, 1%);
   bottom: var(--swiper-scrollbar-bottom, 4px);
   top: var(--swiper-scrollbar-top, auto);
   z-index: 50;
   height: var(--swiper-scrollbar-size, 4px);
   width: calc(100% - 2 * var(--swiper-scrollbar-sides-offset, 1%));
}
.swiper-vertical > .swiper-scrollbar,
.swiper-scrollbar.swiper-scrollbar-vertical {
   position: absolute;
   left: var(--swiper-scrollbar-left, auto);
   right: var(--swiper-scrollbar-right, 4px);
   top: var(--swiper-scrollbar-sides-offset, 1%);
   z-index: 50;
   width: var(--swiper-scrollbar-size, 4px);
   height: calc(100% - 2 * var(--swiper-scrollbar-sides-offset, 1%));
}
.swiper-scrollbar-drag {
   height: 100%;
   width: 100%;
   position: relative;
   background: var(--swiper-scrollbar-drag-bg-color, rgba(0, 0, 0, 0.5));
   border-radius: var(--swiper-scrollbar-border-radius, 10px);
   left: 0;
   top: 0;
}
.swiper-scrollbar-cursor-drag {
   cursor: move;
}
.swiper-scrollbar-lock {
   display: none;
}
.about-us[data-v-59bdf023] {
   position: relative;
   width: 1920px;
   height: 1024px;
}
.about-us__bg-block[data-v-59bdf023] {
   width: 100%;
   height: 100%;
}
.about-us__bg-img[data-v-59bdf023] {
   width: 100%;
   height: 100%;
   object-fit: cover;
}
.about-us__container[data-v-59bdf023] {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
}
