.about-us {
   position: relative;
   width: 1920px;
   height: 1024px;

   &__bg-block {
      width: 100%;
      height: 100%;
   }

   &__bg-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
   }

   &__container {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
   }

   &__content {
   }

   &__subtitle {
   }

   &__title {
   }
}
.mySwiper {
}
